@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #f5913e;
  --secondary: #f0f0f0;
}
body {
  margin: 0;
  padding: 20px;
  font-family: 'Poppins';
  background: var(--secondary);
}
* {
  margin: 0;
}
p {
  margin: 20px 0;
}

.home h2 {
  color: #f5913e;
  text-shadow: 0 0 5px #f5913e;
  letter-spacing: 0.5rem;
  -webkit-text-stroke: 1px #858694;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #858694;
}
/* navbar */
header nav {
  display: flex;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}
header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
  color: #f5913e;
  text-shadow: 0 0 5px #f5913e;
  font-weight: 700;
  letter-spacing: 0.5rem;
  text-align: center;
  -webkit-text-stroke: 1px #858694;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #858694;
}
header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active {
  background: var(--primary);
}
/* page content */
main {
  max-width: 1200px;
  margin: 40px auto;
}

/* Quote */
.quote-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #858694;
  padding: 1.2rem;
  border-radius: 5px;
  font-size: 0.9rem;
  top: 9rem;
}
